on: workflow_dispatch

name: BackendStorageCreate

permissions:
  id-token: write # Require write permission to Fetch an OIDC token.

env:
  location: "westeurope"
  terraformStorageRG: 'RG-Fozzen-Management-weu'
  terraformStorageAccount: 'safozzenmanagementweu'
  containerNameBackend: 'tfstate'
  backendAzureRmKey: 'terraform.tfstate'

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Azure Login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Azure CLI script
      uses: azure/cli@v2
      with:
        azcliversion: latest
        inlineScript: |
          az group create --location $location --name $terraformStorageRG
          
          az storage account create --name $terraformStorageAccount --resource-group $terraformStorageRG --location $location --sku Standard_LRS
          
          az storage container create --name $containerNameBackend --account-name $terraformStorageAccount